{
  "presets": ["env","react", "flow"],
  "plugins": [["module-resolver", {
      "root": ["./src"],
      "alias": {
      }
    }],
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
