.container {
  margin: 50px;
}

h1, h2, h3, h4, h5, h6, h7, p {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 1.5em;
  text-align: right;
}

h3 {
  text-align: center;
  color: #7f7f7f;
}

.link {
  color: #fff !important;
}