.container {
  border: solid #e0e0e0 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.amountRange {
  display: inline-block;
  min-width: 250px;
}
.times {
  display: inline-block;
}
.timesPer {
  padding-right: 10px;
}